/* STRUCTURE */
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: 0;
}
@font-face {
  font-family: 'EuphoriaScript';
  src: url('Public/Fonts/EuphoriaScript-Regular.ttf') format('truetype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.cadastro_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cadastro_section h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.14em;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  width: 50%;
}
  
  /* cadastro */
.cadastro_box {
    width: 490px;
    height: 455px;
    border-radius: 27px;
    background: #D9D9D99E;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cadastro_box h2 {
   
    font-size: 44px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.14em;
    text-align: center;    
}
.cadastro_box input {
    width: 364px;
    height: 61px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 15px;
    display: flex;
    font-size: 20px;
    text-align: center;
}
.cadastro_box .button {
    display: flex;
    justify-content: space-around;
    margin: 15px 0 0 0;
}
.cadastro_box button {
  width: 169px;
  height: 60px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #6f6b6c;
  margin: 10px 0 0 0;
  font-size: 20px;
  transition: background 1s ease-in-out;
  color: white;
}

.cadastro_box button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #575757, #6f6b6c);
}
.alert {
  display: none;
  position: fixed;
  top: 49.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #d93a60;
  color: white;
  text-align: center;
  border-radius: 8px;
  z-index: 1000;
}

.cadastro_section img {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}