/* STRUCTURE */
* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  outline: 0;
}
@font-face {
  font-family: 'EuphoriaScript';
  src: url('Public/Fonts/EuphoriaScript-Regular.ttf') format('truetype');
}

.login_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_section h1 {
  font-family: Euphoria Script;
  font-size: 133px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0.14em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px #E05576;
  width: 50%;
}
  
  /* lOGIN */
.login_box {
    width: 490px;
    height: 456px;
    border-radius: 27px;
    background: #D9D9D99E;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login_box h2 {
    font-family: Euphoria Script;
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.14em;
    text-align: center;
}
.login_box input {
    width: 364px;
    height: 61px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 15px;
    display: flex;
    font-size: 20px;
    text-align: center;
}
.login_box .button {
    display: flex;
    justify-content: space-around;
    margin: 85px 0 0 0;
}
.login_box button {
  width: 169px;
  height: 60px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #E05576;
  margin: 10px 0 0 0;
  font-size: 20px;
  transition: background 1s ease-in-out;
}

.login_box button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #FF7E91, #E05576);
}
.alert {
  display: none;
  position: fixed;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  border-radius: 8px;
  z-index: 1000;
}