/* STRUCTURE */
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    outline: 0;
  }

  @font-face {
    font-family: 'EuphoriaScript';
    src: url('Public/Fonts/EuphoriaScript-Regular.ttf') format('truetype');
  }
  
/* MENU */
header {
  width: 97.7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-radius: 0px 0px 20.9px 20.9px;
  background: rgba(224, 85, 118, 1);
  padding: 10px;
  margin: 0 0 50px 0;
}
header h2{
  font-family: Euphoria Script;
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0.14em;
  text-align: center;  
}
.links {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.links a {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  color: white;
}

.links ion-icon {
  width: 34px;
  height: 35px;
  color: black;
}

.links ion-icon:hover {
  color: white;
}

.text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.links a:hover .text {
  opacity: 1;
}

/* BANNER */
.banner {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin: 0 0 90px 0;
}

.banner img {
  width: 1400px;
  height: 460px;
  border-radius: 10px;
  box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.2);
}

.lines {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  width: 2.5px;
  background: linear-gradient(to bottom, rgba(224, 85, 118, 1), rgb(255 163 185));
  animation: moveLines 2s infinite alternate;
}

.lines::before,
.lines::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.lines::before {
  top: 0;
}

.lines::after {
  bottom: 0;
}
.lines2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  width: 2.5px;
  background: linear-gradient(to bottom, rgba(224, 85, 118, 1), rgb(255 163 185));
  animation: moveLines2 2s infinite alternate;
}

.lines2::before,
.lines2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.lines2::before {
  top: 0;
}

.lines2::after {
  bottom: 0;
}
/* ANIMATION BANNER */
@keyframes moveLines {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(100%);
  }
}
@keyframes moveLines2 {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}

/* BIO PIETRO*/
.bioP {
  width: 97vw;
  height: 526px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 150px 0;
}
.bioP img{
  width: 600px;
  border-radius: 7px;
  box-shadow: 5px 8px 8px rgb(0 0 0 / 34%);
}
.bioP .lineBio{
  border-radius: 7px;
  width: 2.5px;
  background: linear-gradient(to bottom, rgba(224, 85, 118, 1), rgb(255 163 185));
}
.bioP .desc{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.desc p {
font-family: Aubrey;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.14em;
text-align: center;
}
/* BIO OSCAR */
.bioO {
  width: 97vw;
  height: 526px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0 0 150px 0;
}
.bioO img{
  width: 600px;
  border-radius: 7px;
  box-shadow: -9px 6px 8px rgb(0 0 0 / 34%);
}
.bioO .lineBio{
  border-radius: 7px;
  width: 2.5px;
  background: linear-gradient(to top, rgba(224, 85, 118, 1), rgb(255 163 185));
}
.bioO .desc{
  display: flex;
  width: 50%;
  align-items: center;
}
.desc p {
font-family: Aubrey;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.14em;
text-align: center;
}

/* ACERVO */
.pub {
  width: 97vw;
  height: 150px;
  display: flex;
  margin: 0 0 150px 0;
  justify-content: space-between;
}
.pub .pubtext{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pub p{
  width: 469px;
  height: 125px;
  top: 673px;
  left: 862px;
  font-family: Aubrey;
  font-size: 33px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.14em;
  text-align: center;
  
}
.pub .cub {
  width: 50%;
  background: rgba(224, 85, 118, 1);
}

/* FOOTER */
footer {
  border-radius: 20.9px 20.9px 0px 0px;
  display: flex;
  width: 97vw;
  height: 67px;
  background: rgba(0, 0, 0, 1);
  align-items: center;
  padding: 15px;
}
footer p {
  font-family: Aubrey;
  font-size: 32px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.14em;
  text-align: center;
  color: white;  
}

/* USER ICON */
.user-info {
  right: 0;
  display: none;
  position: absolute;
  background-color: #888888;
  border: 1px solid #cacaca;
  padding: 0.625rem;
  margin: 46px 50px 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 140px;
  width: 100px;
  resize: both;
  overflow: auto;
}
.user-info button#log{
  background: #cacaca00;
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
}
.user-info button ion-icon{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.user-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 80%;
}
.user-icon ion-icon {
    width: 50px;
    height: 65px;
}